*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    font-size: 100%;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

.container{

	max-width: 1920px;
	width: 100%;
    /* padding: 20px; */
	margin: 0 auto;
    box-sizing: border-box;
}


h3, h1, h5, p, label, option, ul li{
    font-family: "poppinsnormal";
}



.main{
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
    width: 100%;
     /* schritt-1 bedeutet 4 columns Spaltel, jeweils 1fr*/
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);


     /* nimmt mindestens 200px und maximal so viel wie nötig */
    grid-auto-rows: minmax(200px, auto);

     /* schritt 2r*/
     grid-template-areas: 
     "aaa bbb bbb bbb"
     "aaa bbb bbb bbb"
     "ccc ddd eee fff"
     "ggg hhh iii jjj";
}



.item-1{
    grid-area: aaa;
}
.item-2{
    grid-area: bbb;
}
.item-3{
    grid-area: ccc;
}

.item-4{
    grid-area: ddd;
}

.item-5{
    grid-area: eee;
}

.item-6{
    grid-area: fff;
}

.item-7{
    grid-area: ggg;
}

.item-8{
    grid-area: hhh;
}

.item-9{
    grid-area: iii;
}

.item-10{
    grid-area: jjj;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper{
    max-width: 1420px; /* Begrenzung der maximalen Breite des Inhalts */
    max-width: 1920; /* Begrenzung der maximalen Breite des Inhalts */
    margin: 0 auto; /* Zentriert den Wrapper auf der Seite */
    padding: 0 10px; /* Optionaler Abstand innen */
}

header{
    width: auto;
    object-fit: cover;
    margin: 30px;
}


.headerClass{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section, header{
     margin: 30px 0;

}

/* ab hier box Item-1 */

.item-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.checkbosbackground{
    height: 100%;
    width: 100%;

    background-color: #F8F8F8;
    border-radius: 24px;
}


.form-row{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border box;
}


.checkbosbackground input[type="checkbox"]{
    accent-color: green;
}


.form-row label{
    padding: 5px;
}

.form-row h3{
    padding-bottom: 10px;
}



/* ab hier box Item-2 */

.bigPicClass{
    display: flex;
    position: relative;
    width: 100%;
}

.bigPicClass img{
    height: auto;
    width: auto;
    object-fit: cover;
    /* width: 100%; */
    /* object-fit: cover; */
}

.bigPicClass .textParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
	top: 20%;
	left: 50%;
	width: 700px;
	padding: 10px;
	transform: translate(-50%, -50%);
}


.bigText{
    font-size: 48px;
    padding-bottom: 10px;
}

.smallText{
    font-size: 16px;
    padding-bottom: 20px;
}

.searchParent{
    display: inline-block;
    position: relative;
}

.searchParent p{
    position: absolute;
    top: 20px;
    left: 27px;
}


/* ab hier artikels */

.item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 24px;
    /*  0px (x) sorgt dafür, dass der Schatten horizontal direkt hinter dem Element liegt, ohne seitliche Verschiebung.
        4px (y) bewirkt, dass der Schatten 4 Pixel nach unten verschoben wird.
        18px (Blur) sorgt für eine weiche und stark diffuse Schattierung.
        0px (Spread) bedeutet, dass die Größe des Schattens nicht über das eigentliche Element hinaus ausgedehnt wird.
        #C2C2C24D (Farbe) definiert die halbtransparente Farbe des Schattens.*/
    box-shadow: 0px 4px 18px 0px #C2C2C24D;
    box-sizing: border box;
    position: relative;
}


/**/
.picHere{
    width: 100%;
    object-fit: cover;
}

/**/
.Uberschrift{
    width: auto;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    box-sizing: border box;
}

/**/
.cityNames{
    font-size: 14px;
    color: #000000;
    opacity: 50%;
    line-height: 21px;
}

/**/
.price{
    margin-left: 70%;
    padding: 10px 0;
    width: 90px;
    box-sizing: border box;
}


.line{
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
    box-sizing: border box;
}

.insideAricle_aecondArea{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: 100%;
}


/**/
.frame{
    position: absolute;
    top: 230px;
    left: 370px;
    border-radius: 50%;
    background: white;
    padding: 3px;
    width: 30px;
    box-sizing: border-box;
}

.insideAricle_aecondArea p{
    font-size: 14px;
    margin: 2px;
    line-height: 21px;
    box-sizing: border box;
    padding-bottom: 7px;
}





/* SECOND PAGE Internal html*/




.mainInt{
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
    width: 100%;
     /* schritt-1 bedeutet 4 columns Spaltel, jeweils 1fr*/
    grid-template-columns: repeat(4, 1fr);



     /* nimmt mindestens 200px und maximal so viel wie nötig */
    grid-auto-rows: minmax(200px, auto);

     /* schritt 2r*/
     grid-template-areas: 
     "aaa aaa bbb bbb"
     "aaa aaa bbb bbb"
     "aaa aaa bbb bbb"
     "ccc ddd eee fff";
}

.itemInt-1{
    grid-area: aaa;
}

.itemInt-2{
    grid-area: bbb;
}

.itemInt-3{
    grid-area: ccc;
}

.itemInt-4{
    grid-area: ddd;
}
.itemInt-5{
    grid-area: eee;
}
.itemInt-6{
    grid-area: fff;
}


.itemInt-3, .itemInt-4, .itemInt-5, .itemInt-6{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 24px;
    /*  0px (x) sorgt dafür, dass der Schatten horizontal direkt hinter dem Element liegt, ohne seitliche Verschiebung.
        4px (y) bewirkt, dass der Schatten 4 Pixel nach unten verschoben wird.
        18px (Blur) sorgt für eine weiche und stark diffuse Schattierung.
        0px (Spread) bedeutet, dass die Größe des Schattens nicht über das eigentliche Element hinaus ausgedehnt wird.
        #C2C2C24D (Farbe) definiert die halbtransparente Farbe des Schattens.*/
    box-shadow: 0px 4px 18px 0px #C2C2C24D;
    box-sizing: border box;
    position: relative;
}



.itemInt-2{
    margin: auto;
    display: flex;
    padding: 10px 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* display: block; */
    background-color: #F8F8F8;
    border-radius: 24px;
    /*  0px (x) sorgt dafür, dass der Schatten horizontal direkt hinter dem Element liegt, ohne seitliche Verschiebung.
        4px (y) bewirkt, dass der Schatten 4 Pixel nach unten verschoben wird.
        18px (Blur) sorgt für eine weiche und stark diffuse Schattierung.
        0px (Spread) bedeutet, dass die Größe des Schattens nicht über das eigentliche Element hinaus ausgedehnt wird.
        #C2C2C24D (Farbe) definiert die halbtransparente Farbe des Schattens.*/
    box-shadow: 0px 4px 18px 0px #C2C2C24D;
    box-sizing: border box;
}


.itemInt-2 .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.eyeANDview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.eye{
    padding-right: 10px;
}

.greenVIP{
    font-size: 12px;
    padding: 7px;
    line-height: 18px;
    color: #FFFFFF;
    border-radius: 15px;
    background-color: #29B24E;
}

.posted{
    font-size: 12px;
    line-height: 23px;
    color: #000000;
    opacity: 60%;
}

.view{
    font-size: 12px;
    line-height: 23px;
    color: #000000;
    opacity: 60%;
}

.p2titel{
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    opacity: 90%;
    align-items: center;
    padding-top: 20px;
}

.titelCity{
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    opacity: 60%;
    padding-top: 10px;
}

.loremText{
    font-size: 14px;
    line-height: 23px;
    color: #000000;
    opacity: 80%;
    padding: 20px;
}


.BadroomLis ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.BadroomLis ul li{
    font-size: 14px;
    line-height: 23px;
    opacity: 80%;
    color: #000000;
}


.textColumns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
}

/* .textColumns ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */


.smallTeximColumn{
    font-size: 12px;
    line-height: 23px;
    color: #000000;
    opacity: 60%;
}

.BigTextinColumn{
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 80%;
}

.P2priceAndMessage{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    box-sizing: border-box;
}

.priceANDMonth, .sendANDcall{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greenprice{
    font-size: 36px;
    line-height: 54px;
    color: #29B24E;
}

.p2month{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-left: 5px;
    padding-top: 10px;
}



.message{
    width: 130px;
    margin-right: 10px;
    box-sizing: border-box;
}

.call{
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
   gap: 10px;
   border-radius: 12px;
   background-color: #29B24E;
   padding: 10px 23px 10px 23px;
}


.BigLine{
    /* padding: 20px; */
    box-sizing: border-box;
}
